@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Spartan',sans-serif;
}

h1 h2,h3,h4,h5,h6{

    font-size:3rem;
    font-weight:800;
    color:#333;
    margin-bottom:1rem;
    line-height: 50px;
}

p{

    font-size: 16px;
    color: #465b52;
    margin : 15px 0 20px 0;
}

/* header */



#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding : 20px 80px;
    background-color:  #e3e3e3;
    box-shadow:0 15px 10px rgba(0,0,0,0.06);
    position: sticky;
    
    top:0;
    left:0;
}


/* content */

#navbar
{

    display:flex;
    list-style-type: none;
    justify-content: center;
    
}

#navbar li{

    padding :0 10px;
    position: relative;
}

#navbar li a{


    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color : #1a1a1a;
    transition : 0.3s ease;
}

#navbar li a:hover , 
#navbar li a.active{

    color:#0880a9;
}

#navbar li a.active::after , #navbar li a:hover::after{

    content:"";
    width:30%;
    height:10%;
    background-color: #0880a9;
    position:absolute;
    bottom: -1px;
    left:10px;

}
.section-p1{

    padding : 50px 80px;
}


#hero{

    background-image: url('img/hero4.png');
    height :90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding : 0 80px;
    display: flex;
   
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
   
    

}

#hero h4{
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 30px;
    
}

#hero h1{

    color : #088178;
    font-size:50px;
}

#hero button{
    
    background-image: url('img/button.png');
    background-color: transparent;
    color:#088178;
    border:0;
    padding : 14px 80px 14px 65px;

    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    background-repeat: no-repeat;

}


#feature .feature-box{

    width:180px;
    text-align:center;
    padding:20px 25px;
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
    border:1px solid #088178;
    border-radius: 20px;

}


#feature .feature-box:hover{


    
    box-shadow : 20px 20px 34px rgba(0,0,0,0.3);
}

#feature .feature-box h6{


    display: inline-block;

    padding : 9px  6px ;
    line-height: 1px;
    border-radius: 4px;
    color:#088178;
    background-color: #fddc5c;

}

#feature .feature-box img{


    width:100%;
    margin-bottom:10px;
}

#feature{

    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box:nth-child(2) h6{

    background-color: #cdebbc;


}

#feature .feature-box:nth-child(3) h6{

    background-color: #d1e8f2;


}
#feature .feature-box:nth-child(4) h6{

    background-color: #cdd4f8;


}
#feature .feature-box:nth-child(5) h6{

    background-color: #f6dbf6;


}



#feature .feature-box:nth-child(6) h6{

    background-color: #fff2e5;


}


#product1{
    text-align: center;
}

#product1 .pro{

    width:23%;
    min-width: 250px;
    padding:10px 12px;
    border : 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin:15px 0;
   

}

#product1 .pro img{

    width:100%;
    border-radius: 20px;
}


#product1 .pro:hover{

    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    transform: translateY(-10px);
    transition: 0.2s ease;


}

#product1 .pro .des{

    text-align: start;
   
    padding : 5px 0;


}

#product1 .pro .des span{

    color:#606063;
    font-size: 12px;
}

#product1 .pro .des h5{

    font-size: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

#product1 .pro .des i{

    color:rgb(243,181,25);
    font-size: 14px;
    
    padding-bottom: 0;
    margin-bottom: 0;
}

#product1 .pro .des h4{

    color:#088178;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
   
}

#product1 .pro .cart{

    padding:5px;

    border:1px solid #088178;
    border-radius: 50px;
    width:40px;
    height:40px;
    background-color: #e8f6ae;
    font-weight: 500;
    color:#088178;

    position:absolute;
    float: right top;
    position: relative;
    




}

#product1 .pro-container{


    display: flex;
    
    align-items: flex-start;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap: wrap;
    flex-direction: row;



}

#banner{

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    background-image: url('img/banner/b2.jpg');
    width: 100%;
    height:40vh;
    background-size: cover; 
    color:white;
    background-position: center;

}

#banner h4{

    color:white;
}

#banner h2 span{

    color: red;
    font-size: 35px;
}

#banner .button1{

    margin-top:20px;

    padding:20px;
    background-color: white;
    border-radius: 10px;
    border:1px solid white;
}

button.normal{

    font-size: 14px;
    font-weight:600;
    padding : 15px 30px;
    color:black;
    background-color: #fff;
    cursor: pointer;
    border:none;
    outline:none;
    transform: translateY(-7);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
    transition:0.2s;
}

#banner button:hover{

    background-color: #088178;
    border-radius: 20px;

}


#sm-banner{

    display:flex;
    
    flex-wrap: wrap;
    justify-content: space-between;

}
#sm-banner .bannerbox{

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    background-image: url('img/banner/b17.jpg');
    min-width: 800px;
    width: 48%;
    height:50vh;
   
    background-size: cover; 
    
    color:white;
    background-position: center;
    background-size: cover;

}

#sm-banner .bannerbox h2{

    color: black;
    font-size : 35px;
    font-weight: 600;
}

#sm-banner .bannerbox button{

    margin-top: 20px;
    border: 2px solid white;
    padding:10px;
    background-color:transparent ;
    color: white;



}

#sm-banner .bannerbox button:hover{

    background-color: #0880a9;
    border-color: #0880a9;


}

#sm-banner .bannerbox2 {

    background-image: url('img/banner/b10.jpg');
    color: white;


}


#banner3{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
    margin-left: 20px;
    margin-right: 40px;
}
#banner3 .bannerbox{


    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    align-items: left;

   
    background-image: url('img/banner/b7.jpg');
    min-width: 400px;
    width:30%;
    
    height:30vh;

    margin-bottom: 20px;
    margin-left: 20px;

    

   
    background-size: cover; 
    
    color:white;
    background-position: center;
    background-size: cover;


}

#banner3 .bannerbox2{

    background-image: url("img/banner/b4.jpg");

}

#banner3 .bannerbox3{

    background-image: url("img/banner/b18.jpg");
    
}

#banner3 .bannerbox h2{

    font-size: 25px;
    color:red;
    font-weight: 800;
    padding-left:10px;
}

#banner3 .bannerbox h1{

    font-size: 30px;
    
    font-weight: 1000;

    padding-left:10px;


}

#newsletter{

    display:flex;

    justify-content: space-between;
    flex-wrap: wrap;
    

    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

}


#newsletter .box {

    
    padding-left: 20px; 


}
#newsletter .box h2{ 


    color:white;
    font-size:35px;
    padding-top: 20px;
    font-weight: 700;


    


}


#newsletter .p span{


    color:#ffbd27;

}

#newsletter input{



    border:1px solid white;
    height:3.125em;
    
    font-size:14px;
    outline:0;
    border-top-right-radius: 0;

    border-radius: 10px;

    padding: 10px;
    
    width:100%;
    
}

#newsletter  button{

    background-color: #088178;
    color:white;
   

    border : 1px solid transparent;
    border-radius:10px ;
    width:60%;
    padding:5px;


}





#newsletter .form{

    display:flex;
 
    font-size:14px;



}

.copyright{

    text-align: bottom;
    align-items: center;
    text-align: center;
   
    
    



}

#footer {

    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:20px;
}

#footer col{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px ;

}

footer logo{

    margin-bottom: 60px;
}

footer h4{

    font-size: 14px;
    padding-top: 10px;

    
}

footer  p{

    font-size:15px;
    margin :0 0 8px 0;
    
}

footer a{

    font-size: 14px;
    text-decoration:none ;
    color: black;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;



}

footer .col .row img{

    border : 1px solid #0880a9;
    border-radius : 6px;

}


footer .col .follow .icon a{

    display: inline;
    


    padding-right: 4px;


}
footer .col .row img:hover{

    background-color: #041e42;

}




